@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Kaisei Tokumin', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.center-div{
    padding-top: 10%;
    background-image: url('/assets/background image.png');
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    padding: 0 3em;
}

#login.title>span{
    font-size: .6em;
}